img {
    object-fit: cover;
    max-width: 100%;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100% !important;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px !important;
}

.invalid-feedback {
    display: block !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 2px !important;
}

.form-group.tags {
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(269px, 1fr)) !important;
}